<%= render './header' %>

<main>
    <body class = "body_index", style="z-index: 2">
        <div class = "content">
            <%= image_tag "handshakeworld.png" , :class => "handshake" %>
        </div>
    </body>  
</main>

