<%= render './header' %>

<main>
    <body class = "body_index", style="z-index: 2">
        <div class = "image_container">
            <div class = "usage">
                <h1>Welcome!</h1>
                <p>This is a Note Taking website built and designed for
                   Kingsmen Software!
                </p>
                <p>To get started, simply type in a new
                   note and hit enter!</p>
            </div>
            <%= image_tag "handshakeworld.png" , :class => "handshake" %>
        </div>
    </body>  
</main>

