#nav_header {
    position: fixed;
    top: 0;
    height: 70px;
    min-width: 500px;
    background-color: #ffffff;
    width: 100%;
    border-bottom: 4px solid #231f20;
    font-family: Verdana;
    filter: drop-shadow(0 0 0.45rem #3d3d3d);
    z-index: 1000;
    >div#logo {
        float: left;
        margin-top: 2px;
        padding: 11px;
        display: block;
        position: absolute;
    }

    >h4#creator_id {
        margin: 0;
        padding-top: 14px;
        text-align: right;
        color: #b4b4b4;
        padding-right: 20px;
        float: right;
        display: block;
        position: relative;
        white-space: nowrap;
        >p {
            margin: 0;
        }
    }
}

#nav_footer {
    min-width: 550px;
    height: 325px;
    border-top: 2px solid #231f20;
    background-color: #373536;
    color: #b4b4b4;
    font-family: Verdana;
    font-size: 0.95em;
    >div#logo_footer {
        float: left;
        margin-top: 90px;
        margin-left: 15px;
    }

    >div#learn_more {
        white-space: nowrap;
        display: block;
        float: right;
        >div#contact_info {
            margin-top: 100px;
            margin-right: 88px;
            float: right;
        }
        >div#visit_k {
            margin-top: 100px;
            margin-right: 27px;
            float: right;
        }
    }
    >div#company_logos {

        >div#logo {
            display: block;
            float: right;
            margin-top: 160px;
            margin-right: -350px;
        }
        >div#linkedin {
            display: block;
            float: right;
            margin-top: 153px;
            margin-right: -109px;
        }
        >div#github {
            display: block;
            float: right;
            margin-top: 148px;
            margin-right: -53px;
        }
    }

    >h4 {
        position: absolute;
        margin-left: 20px;
        margin-top: 275px;
    }
}

.body_index {
    margin: 0;
    display: flex;
    background-color: #373536;
    flex-direction: column;
    margin-top: 73px;

    div.image_container {
        >.usage {
            z-index: 1;
            position: fixed;
            font-family: Verdana;
            font-size: 20px;
            text-align: center;
            color: #ffffff;
            text-shadow: 1px 1px 10px black;
            min-width: 700px;
            white-space: nowrap;
            top: 255px;
            left: 50%;
            width: 80%;

            transform: translate(-50%, -50%);
            >p {
                margin: 0;
            }
        }
        >.usage:after {
            z-index: -1;
            opacity: 0.15;
            background: black;
            position: fixed;

            top: 58%;
            left: 50%;
            width: 125%;
            height: 200px;

            content: "";
            filter: drop-shadow(0 0 0.85rem white);
            transform: translate(-50%, -50%);
        }
        >.handshake {
            object-fit: cover;
            object-position: -20% 40%;

            z-index: 0;
            position: fixed;
            height: 400px;
            width: 100%;
            min-width: 900px;
        }
    }
    .whitespace_container {
        width: 100%;
        position: relative;
        z-index: 4;
        height: auto;
        background-color: #ffffff;
        margin-top: 400px;
        margin-bottom: -70px;
        padding-bottom: 60px;
        border-top: 1px solid #353333;
        filter: drop-shadow(0 0 0.45rem #3d3d3d);


        #notes_container {
            padding-top: 35px;
            padding-bottom: 45px;
            z-index: 5;
            margin-bottom: -50px;
            textarea {
                width: 772px;
                height: 200px;
                padding: 12px 12px;
                border-top: 2px solid #b4b4b4;
                border-left: none;
                border-right: none;
                border-bottom: none;
                background-color: #f7f7f7;
                resize: none;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            input[type=submit] {
                width: 796px;
                height: 40px;
                background-color: #589da3;
                border: none;
                color: white;
                font-family: Verdana;
                font-size: 1.2em;
                cursor: pointer;
                display: block;
                margin-left: auto;
                margin-right: auto;
                transition-duration: 0.3s;

            }
            input:hover[type="submit"] {
                background-color: #3fadb7;

                transition-duration: 0.3s;
            }
        }
        #notes_list {
            z-index: 5;
            margin-bottom: 50px;
            >.note_info {
                margin-top: 40px;
                margin-bottom: -50px;
                font-family: Verdana;
                >.big_divider_line {
                    width: 797px;
                    margin-left: auto;
                    margin-right: auto;
                    border-bottom: 2px solid #b4b4b4;
                }
                >.divider_line {
                    width: 725px;
                    margin-left: auto;
                    margin-right: auto;
                    border-bottom: 1px solid #e1e1e1;
                }
                >.upper_box {
                    width: 772px;
                    height: 15px;
                    padding: 15px 12px;
                    padding-top: 8px;
                    border-left: none;
                    border-right: none;
                    background-color: #f7f7f7;
                    resize: none;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: -1px;

                    .id {
                        display: block;
                        float: left;
                    }
                    .date {
                        float: left;
                        display: block;
                        margin-left: 29px;
                        margin-right: 133px;

                    }

                    >.buttons {
                        position: absolute;
                        margin-left: 605px;
                        margin-top: -8px;
                        white-space: nowrap;
                        >.delete {
                            display: block;
                            position: absolute;
                            margin-left: 72px;
                            float: right;
                        }
                        >.update {
                            display: block;
                            float: left;
                        }
                        input[type=submit] {

                            background-color: #f7f7f7;
                            color: black;
                            border: none;
                            height: 37px;
                            width: 72px;
                            cursor: pointer;
                            font-family: Verdana;
                            font-size: 1em;

                            transition-duration: 0.3s;
                        }
                        >.update input:hover[type="submit"] {
                            background-color: #edc663;
                            transition-duration: 0.3s;
                        }
                        >.delete input:hover[type="submit"] {
                            background-color: #f0847b;
                            transition-duration: 0.3s;
                        }
                    }
                }

                .text {
                    width: 772px;
                    height: 200px;
                    padding: 12px 12px;
                    border: none;
                    background-color: #f7f7f7;
                    resize: none;
                    display: block;
                    margin-top: 0;
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 0.95em;
                    font-weight: lighter;
                }
            }
        }
    }

}
