<div id="nav_footer">
    
    <div id="logo_footer"><%= image_tag("ks-circle-only.png", width: '125') %></div>


    <div id="learn_more">
        <div id="contact_info">
            <h4>CONTACT ME</h4>
        </div>
        <div id="visit_k">
            <h4>VISIT KINGSMEN</h4>
        </div>
        <div id="logo"><%= link_to image_tag("ks-logo-231f20@2xinvert.jpg", width: '155'), 
                                "http://kingsmensoftware.com" %></div>
        <div id="linkedin"><%= link_to image_tag("LinkedIn-Icon-Square.png", width: '50'),
                                "https://www.linkedin.com/in/brian-gueterman-5ab0b815b/" %></div>
        <div id="github"><%= link_to image_tag("gitsquare.png", width: '60'),
                                "https://github.com/Bgueterm" %></div>
    </div>
    <h4>Inspired by Kingsmen Software</h4>
</div>