<div id="nav_container">
    <div id="logo"><%= image_tag("ks-logo-231f20@2x.jpg", width: '155') %></div>

    <h4 id="creator_id">
        Designed for Kingsmen Software
        <p>By: Brian Gueterman</p>
    </h4>
</div>