<div class = "image_container">
    <div class = "usage">
        <h1>Welcome!</h1>
        <p>This is a Note Taking website built and designed for
            Kingsmen Software
        </p>
        <p>To get started, simply type in a new
        note and click "submit"</p>
    </div>
    <%= image_tag "handshakeworld.png" , :class => "handshake" %>
</div>